[tool.poetry]
name = "muffin-rest"
version = "8.0.0"
description = "The package provides enhanced support for writing REST APIs with Muffin framework"
readme = "README.rst"
homepage = "https://github.com/klen/muffin-rest"
repository = "https://github.com/klen/muffin-rest"
authors = ["Kirill Klenov <horneds@gmail.com>"]
license = "MIT"
keywords = ["rest", "api", "muffin", "asgi", "asyncio", "trio"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Internet :: WWW/HTTP",
  "Framework :: AsyncIO",
  "Framework :: Trio",
]

[tool.poetry.dependencies]
python = "^3.8"
apispec = "^6"
marshmallow = "^3"
muffin = "^0"

# Optional dependencies
pyyaml = { version = "*", optional = true }
muffin-peewee-aio = { version = "^0", optional = true }
marshmallow-peewee = { version = "^4", optional = true }
muffin-databases = { version = "^0.5.0", optional = true }
marshmallow-sqlalchemy = { version = "^0", optional = true }
sqlalchemy = { version = "*", optional = true }

[tool.poetry.extras]
yaml = ["pyyaml"]
peewee = ["muffin-peewee-aio", "marshmallow-peewee"]
sqlalchemy = ["muffin-databases", "marshmallow-sqlalchemy", "sqlalchemy"]

[tool.poetry.group.tests.dependencies]
aiosqlite = "*"
marshmallow-peewee = "^4.0.3"
marshmallow-sqlalchemy = "^0.27.0"
muffin-databases = "^0.5.0"
muffin-mongo = "^0.5.1"
muffin-peewee-aio = "*"
pytest = "*"
pytest-aio = { version = "*", extras = ["curio", "trio"] }
pyyaml = "*"
types-PyYAML = "*"
types-ujson = "*"
ruff = "*"
mypy = "*"

[tool.poetry.group.dev.dependencies]
pre-commit = "*"

[tool.poetry.group.example.dependencies]
uvicorn = "*"
muffin-peewee-aio = "*"
marshmallow-peewee = "^4.0.3"


[tool.pytest.ini_options]
addopts = "-xsv"
log_cli = true

[tool.mypy]
packages = ["muffin_rest"]
ignore_missing_imports = true

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py38,py39,py310,py311,pypy39

[testenv]
deps = -e .[tests]
commands =
	pytest tests
"""

[tool.ruff]
line-length = 100
target-version = "py38"
exclude = [".venv", "docs", "examples"]
select = ["ALL"]
ignore = [
  "A003",
  "ANN",
  "ARG",
  "COM",
  "D",
  "DJ",
  "EM",
  "N804",
  "PLR0912",
  "PLR2004",
  "RET",
  "RSE",
  "S101",
  "SLF",
  "TD",
  "TRY003",
  "UP",
]

[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310", "py311"]
preview = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
